
/* RESET */
body {
    margin: 0;
    border: solid red 2px;
    padding: 20px;
}

header, main, aside {
    padding: 20px;
}

div {
    border: solid green 3px;
}
aside {
    display: inline-block;
    border: solid orange 2px;
    width: 20%;
    height: 300px;
}

main {
    display: inline-block;
    border: solid red 2px;
    width: 60%;
    height: 300px;
}

img {
    display: inline-block;
}

h1 {
    display: inline-block;
}
